<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">
	<beans profile="resource">
		<import resource="profiles/resource.xml" />
	</beans>
	<!-- TODO: 新接入一种资源的时候就要加一个profile -->
	<beans profile="sample">
		<import resource="profiles/sample.xml" />
	</beans>
</beans>